In [5]:
#Create your first tuple

tuple1 = ("disco",10,1.2)
tuple1

('disco', 10, 1.2)

In [6]:
#print the type of tuple you created

type(tuple1)

tuple

In [7]:
# Print the variable on each index

print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

disco
10
1.2

In [8]:
# Print the type of vqlue on each index

#print(type(tuple1[0]))
#print(type(tuple1[1]))

print(type(tuple1[2]))

<class 'float'>

In [9]:
tuple1[-1]

1.2

In [10]:
# Use negative index to get the value of the third last element

tuple1[-3]

'disco'

In [12]:
# Concatenate two tuples

tuple2 = tuple1 + ("hard rock" , 10 )
tuple2

('disco', 10, 1.2, 'hard rock', 10)

In [13]:
tuple2[0:2]

('disco', 10)

In [14]:
tu = ("a", "b", "C", "d")
#      0    1    2    3

tu[0:4]

('a', 'b', 'C', 'd')

In [15]:
tuple2[3:5] #3 & 4

('hard rock', 10)

In [16]:
len(tuple2)

5

In [17]:
# A sample tuple

Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)

In [18]:
# Sort the tuple

RatingSorted = sorted(Ratings)
RatingSorted

[0, 2, 5, 6, 6, 8, 9, 9, 10]

In [21]:
# Create a nest tuple

NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))

NestedT[4][1][1]

2

In [23]:
# print the element on each index

#print("Element 0 of Tuple: ", NestedT[0])
#print("Element 1 of Tuple: ", NestedT[1])
#print("Element 2 of Tuple: ", NestedT[2])
#print("Element 3 of Tuple: ", NestedT[3])
print("Element 4 of Tuple: ", NestedT[4][1][1])

Element 4 of Tuple:  2

In [24]:
# print element on each index, including nest indexes

print("Element 2, 0 of Tuple: ", NestedT[2][0])
print("Element 2, 1 of Tuple: ", NestedT[2][1])
print("Element 3, 0 of Tuple: ", NestedT[3][0])
print("Element 3, 1 of Tuple: ", NestedT[3][1])
print("Element 4, 0 of Tuple: ", NestedT[4][0])
print("Element 4, 1 of Tuple: ", NestedT[4][1])

Element 2, 0 of Tuple:  pop
Element 2, 1 of Tuple:  rock
Element 3, 0 of Tuple:  3
Element 3, 1 of Tuple:  4
Element 4, 0 of Tuple:  disco
Element 4, 1 of Tuple:  (1, 2)

In [25]:
# print the first element in the second nested tuples

NestedT[2][1][0]

'r'

In [26]:
NestedT[2][1][1]

'o'

In [27]:
NestedT[4][1][1]

2

In [29]:
# sample tuple

genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
               "R&B", "progressive rock", "disco")
genres_tuple

('pop',
 'rock',
 'soul',
 'hard rock',
 'soft rock',
 'R&B',
 'progressive rock',
 'disco')

In [30]:
len(genres_tuple)

8